/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Sep-2015, 15:01:24
    Author     : DarthKing
*/

body {
background-color:#f5f5f5;
color: #565656 !important;
font-family: 'Verdana';
}
#menu {
 margin-top: 9em;
}
#nav{
    background-color: #fff !important;
    height: 7em !important;
    padding-top: 2em;
    font-family: Arial;
    font-size: large;
    color: #999999 !important;
}
#body-cont{
    margin-top: 2em;
    background-color: #fff;
    opacity: 0.9;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}

#vert-nav{
    margin-top: 2em;
}

.blue{
    color: #00ccff;
}
.green{
    color: #00CC00;
}
.orange{
    color: orange;
}
span.blue{
    color: #00ccff;
}

span.logo-text{
    font-family: 'Harlow Solid';
    font-size: 34px;
    color: #00ccff;
}
span.largefirst{
    font-family: 'Harlow Solid';
    font-size: 50px;
    color: #00ccff;
}
.green a{
    color: darkgreen;
}

span.red a{
    color: darkred;
}

/*#chat_box{
    background-color: #96B1D2;
    margin-top: 2em;
    opacity: 0.9;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;
}*/


/* Chat CSS */

#wrapper, #loginform {

    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0;
    margin-top: 2em;
    opacity: 0.9;
    border-radius: 3px;
    padding: 10px 10px 10px 10px;}


#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }

#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menuchat { padding:12.5px 25px 12.5px 25px; }

.welcome { float:left; }

.logout { float:right; }

.msgln { margin:0 0 2px 0; }